################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Proyecto#1-Calculadora/.vs/Proyecto#1-Calculadora
/Proyecto-1-DSV-IV-rama-edgar/Proyecto1-Calculadora/.vs
