################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Proyecto#1-Calculadora/.vs/Proyecto#1-Calculadora
